/MVC_StudentRegistration/nbproject/private/
/MVC_StudentRegistration/build/
/Projecte-1-main/UtilitatsSwing/build/
/Projecte-1-main/UtilitatsSwing/dist/
/Projecte-1-main/UtilitatsSwing/nbproject/private/
/Projecte-1-main/bd/nbproject/private/
/Projecte-1-main/model/nbproject/private/
/Projecte-1-main/vista/nbproject/private/
/pracJSP/build/
/pracJSP/dist/
/pracJSP/nbproject/private/